* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 20% auto;
}

.nav {
    grid-column: span 2;
    background-color: rgba(210, 210, 210, 0.142);
    border-bottom: 1px solid rgb(222, 222, 222);
    font-family: cursive;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#talkait {
    color: rgb(120, 120, 120);
}

.left {
    background-color: rgba(210, 210, 210, 0.142);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gainsboro;
}

#profile {
    /* background-color: red; */
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#moodAsk {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 210, 210, 0.142);
    color: rgb(40, 40, 40);
    height: 40px;
    width: 300px;
    font-size: 16px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 9px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgb(215, 215, 215);
}

img {
    width: 40px;
    height: 40px;
    margin-left: -5px;
}

#moodAsk img {
    /* background-color: red; */
    position: relative;
    left: 14px;
    height: 18px;
    width: 24px;
}

#moodOption {
    /* background-color: red; */
    z-index: 1;
    background-image: linear-gradient(to bottom, white, rgb(238, 238, 238));
    padding: 10px;
    height: auto;
    width: 300px;
    position: absolute;
    border-radius: 0 0 20px 20px;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    box-shadow: 0px 5px 6px rgb(214, 214, 214);
    display: flex;
}

#moodOption button {
    height: 35px;
    width: 100%;
    margin-top: 9px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.happy:hover {
    background-image: linear-gradient(to right, white, rgb(236, 236, 0));
}

.sad:hover {
    background-image: linear-gradient(to right, white, rgb(7, 151, 179));
}

.angry:hover {
    background-image: linear-gradient(to right, white, rgb(195, 3, 3));
}

.disgust:hover {
    background-image: linear-gradient(to right, white, rgb(11, 75, 11));
}

.suprise:hover {
    background-image: linear-gradient(to right, white, rgb(212, 113, 0));
}

.fear:hover {
    background-image: linear-gradient(to right, white, rgb(19, 19, 121));
}

.journal:hover {
    background-image: linear-gradient(to right, white, rgb(66, 66, 66));
}

#post {
    height: 355px;
    width: 100%;
    padding: 10px;
    /* background-color: red; */
}

#moodwrite textarea {
    padding: 10px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    resize: none;
}

#moodwrite button {
    margin-top: 3px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    /* outline: none; */
}

#meditate {
    height: 100%;
    width: 80%;
    padding: 10px;
    border: 2px dashed rgba(104, 104, 104, 0.44);
    border-radius: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}

#faqBlock {
    width: 60%;
    height: 95%;
    background-color: rgba(210, 210, 210, 0.523);
    border-radius: 6px;
}
#header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding:10px;
    color: rgb(93, 93, 93);
}

#tips li{
    color: rgb(61, 61, 61);
    font-family: sans-serif;
    font-size:18px;
    padding-left:10px;
    color:
}

#listen {
    height: 95%;
    width: 35%;
    background-color: rgba(210, 210, 210, 0.523);
    border-radius: 6px;
    padding: 10px;
}

#music {
    height: 70%;
    width: 100%;
    /* background-color: yellow; */
    border-radius: 5px 5px 0px 0px;
}

#controls {
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.433);
    border-radius: 0px 0px 5px 5px;
    display: flex;
}

#controls-left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
}


#play {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    outline: 0px;
    border: 0px;
    background-color: rgb(255, 0, 0);
}

#pause {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    outline: 0px;
    border: 0px;
    background-color: rgb(255, 0, 0);
}

#controls-right {
    width: 40%;
    padding: 10px;
    /* background-color: yellow; */
    display: flex;
    

}

#topic {
    width: 100%;
    background-color: blue;
    height: 30px;
    border-radius: 8px;
}

#next {
    height: 40px;
    width: 50%;
    border-radius: 5px;
    outline: 0px;
    border: 0px;
    background-color: rgb(255, 0, 0);
}

#previous {
    height: 40px;
    width: 50%;
    border-radius: 5px;
    outline: 0px;
    border: 0px;
    background-color: rgb(255, 0, 0);
}